.body {
  margin: 0px;
  font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-family: "Poppins";
}

.container {
  margin: 0 auto;
}

.title {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 3vw;
  padding-bottom: 20px;
}

.title div {
  width: 400px;
  font-size: 18px;
}

.body {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  min-height: 50vh;
  justify-content: space-between;
  padding-top: 20px;
  padding: 20px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #1f1f1f;
}

.body div {
  position: relative;
  padding: 10px;
  width: 15%;
  text-align: left;
}

.body div img {
  border-radius: 10px;
  width: 90%;
  object-fit: cover;
}

.body div .name {
  margin-top: -5px;
  text-align: left;
  font-size: 14px;
}

.body div .position {
  position: absolute;
  top: 0;
  right: -5px;
  text-align: right;
  width: 100%;
}

.body div .position span {
  writing-mode: vertical-rl;
  font-size: 12px;
  text-transform: uppercase;
}

.flex-center {
  align-self: center;
}

.flex-end {
  align-self: flex-end;
}

@media only screen and (max-height: 800px) {
  .body div .position {
    right: -10px;
  }
  .body div .position {
    max-width: 70%;
  }
  .body {
    padding: 0px;
    min-height: 130vh;
    width: 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
  }
  .body div {
    width: 40%;
  }
  .body div img {
    width: 95%;
  }
}

@media only screen and (min-height: 800px) and (max-width: 1024px) {
  .body div .position {
    right: -10px;
  }
  .body div .position {
    max-width: 70%;
  }
  .body {
    padding: 0px;
    min-height: 110vh;
    width: 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
  }
  .body div {
    width: 40%;
  }
  .body div img {
    width: 95%;
  }
}

@media only screen and (min-height: 600px) and (max-width: 300px) {
  .body div .position {
    right: -10px;
  }
  .body {
    padding: 0px;
    min-height: 100vh;
    width: 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
  }
  .body div {
    width: 40%;
  }
  .body div img {
    width: 95%;
  }
}
